<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Settings"></Label>
</ActionBar>

<GridLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf013;"></Label>
    <FlexboxLayout flexDirection="column" width="300" height="300">
        <TextField #texto="ngModel" [(ngModel)]="textFieldValue" hint="Ingresar nombre de usuario" required minlen="3"></TextField>
        <Label *ngIf="texto.hasError('required')" text="*"></Label>
        <Label *ngIf="!texto.hasError('required') && texto.hasError('minlen')" text="3+"> </Label>
    
        <Button (tap)="onNavItemTap('/settings')" class="btn">
            <FormattedString>
                <Span text="&#xf00d;" class="fas"></Span>
                <Span text=" Cancelar"></Span>            
            </FormattedString>
        </Button>
    
        <Button (tap)="onButtonTap()" class="btn">
            <FormattedString>
                <Span text="&#xf00c;" class="fas"></Span>
                <Span text=" Aceptar"></Span>            
            </FormattedString>
        </Button>
    </FlexboxLayout>
</GridLayout>