<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Detalle"></Label>
</ActionBar>

<!--
    <GridLayout columns="auto, *, auto" rows="auto,25" verticalAlignment="top" backgroundColor="lightgray">
        <Image src="~/icon.jpg" rowSpan="2" width="72" height="72" margin="3" verticalAlignment="top" />
    </GridLayout>
-->
<StackLayout class="page__content">
    <Label class="h1 text-center" text="Detalle de la Búsqueda"></Label>
</StackLayout>