<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Contacts"></Label>
</ActionBar>

<GridLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf005;"></Label>
    <Label class="page__content-placeholder" text="Página de Contactos Favoritos"></Label>
    <Button (tap)="onNavItemTap('/contacts')" class="btn buttonDiff">
        <FormattedString>
            <Span text="&#xf060;" class="fas"></Span>
            <Span text=" Volver"></Span>            
        </FormattedString>
    </Button>
</GridLayout>