<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="links"></Label>
</ActionBar>

<GridLayout class="page__content">
    <!-- <Label class="page__content-icon fas" text="&#xf0c1;"></Label>
    <Label class="page__content-placeholder" text="Página de Enlaces"></Label> -->
    <StackLayout class="p-15 m-15" width="200" height="800">
        <Image src="~/assets/images/new_icon.png" loadMode="async" stretch="aspectFit"></Image>
        <Image src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_150x54dp.png" loadMode="async" stretch="aspectFit"></Image>
        <Image src="res://new_icon" loadMode="async" stretch="aspectFit"></Image>
    </StackLayout>
</GridLayout>